@import url(https://fonts.googleapis.com/css?family=Amarante:regular);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background-color: #14161C;
    color: white;
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
.maindiv{
  background-image: url("/gif/arban.gif");
  background-size: cover;
  background-position: center;
}

.contactdiv{
  background-image: url("/assets/contactcard.svg");
  background-size: cover;
  background-position: center;
}

.inputfield{
  background: transparent !important;
  outline: none;
}

.aboutBanner{
  background-image: url("/assets/aboutBanner.svg");
  background-size: cover;
  background-position: center;
}

.carouseldiv{
  background-image: url("/assets/ellipse.svg");
  background-size: cover;
  background-position: center;
}

.homecarddiv{
  background-image: url("/assets/arbanlogo.svg");
  background-size: cover;
  background-position: center;
}